{% extends "base.html.twig" %} 

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1 class="mx-auto text-center"> 
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter l'article
        {% endif %}
    </h1>

    {# Réaliser un formulaire HTML correspondant à la table article (sauf id et createdAt) #}

    {# <form method="post" class="col-md-5 mx-auto">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type='text' class="form-control" name="title" id="title">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea type='text' class="form-control" name="content" id="content"></textarea>
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input type='text' class="form-control" name="image" id="image">
        </div>

        <button type="submit" class="btn btn-dark">Enregistrer</button>
        
    </form> #}

    {# {{ form(formArticle) }} #}

    {{ form_start(formArticle, { 'attr' : {'class' : 'col-md-6 mx-auto'}}) }}

      
        {{ form_row(formArticle.title, { 'attr' : { 'placeholder' : "Titre de l'article"} }) }}

        {{ form_row(formArticle.category) }}

        {{ form_row(formArticle.content, { 'attr' : { 'placeholder' : "Contenu de l'article", "rows": 15} }) }}

        {{ form_row(formArticle.image, { 'attr' : { 'placeholder' : "URL de l'image"} }) }}

        <button type="submit" class="btn btn-primary">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Ajouter l'article
            {% endif %}
        </button>
        

    {{ form_end(formArticle) }}
{% endblock %}